<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McDonald Order Terminal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../src/css/styles.css">
    <link rel="stylesheet" href="../src/css/checkout.css">

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  </head>
  <body>
    <img src="../public/images/order_terminal.logo.black.svg" alt="">
    <main class="terminal checkout">
      <div class="loading">
        <lottie-player class="loading__player" src="https://assets1.lottiefiles.com/packages/lf20_AzOvUp.json"  background="transparent"  speed="1.5"  loop autoplay></lottie-player>
        <h2 class="loading__text">Estamos procesando tu pedido</h2>
      </div>
      <div class="finish" id="finish">
        <ion-icon class="finish__icon" name="checkmark-circle"></ion-icon>
        <h2 class="finish__text">Tu pedido ha sido procesado</h2>
        <button class="button tertiary" id="finish-button">Finalizar</button>
      </div>
    </main>
    <p>Esta pagina web intenta emular el funcionamiento de una terminal de autoservicio de McDonald’s.
    Es por ello que tambien se intenta emular el tamaño de la pantalla de la misma</p>
    <script src="../src/js/checkout.js"></script>
  </body>
</html>