* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Outfit';
}

body {
  padding: 20px;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100vh;
}

body > p {
  font-size: .85rem;
  font-style: italic;

  text-align: center;
  white-space: pre-wrap;
}

main {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  aspect-ratio: 9/16;

  border: 3px solid #E5E5E5;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  overflow: hidden;
}

main.cursor-pointer {
  cursor: pointer;
}

main img.hero {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

main header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

main header.greenHeader {
  background-color: #27742d;
  color: #f9f5f5;
}

main .categories {
  display: flex;
  flex-direction: row;

  margin: 0px 20px;
  gap: 5px;
  overflow: auto;
}

main .categories article {
  min-width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  cursor: pointer;
}

main .categories article.selected {
  background-color: #DA291C;
  border: none;
  color: white;
}

main .categories article img {
  height: 52px;
}

main .categories article h2 {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
}

main .articles {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  overflow: auto;
  scroll-behavior: smooth;

  gap: 10px;
  margin: 10px 20px;
}

main .articles article {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  gap: 10px;
  
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  cursor: pointer;
}

main .articles article img {
  width: 100px;
}

main footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;
  gap: 30px;

  background-color: #27742d;
  color: #f9f5f5;
}

main footer.start {
  position: absolute;
  bottom: 0;

  justify-content: center;
  padding: 30px;
}

main footer > img {
  height: 50px;
}

main footer.showCart {
  flex: 1;
  height: 100%;
}

.flex1 { flex: 1; height: 100%; display: flex; flex-direction: column; }

.contentWrapper {
  flex: 1;
  width: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  gap: 10px;
}

.actionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  gap: 10px;

  font-size: 1.2rem;
}

.button.square {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;

  font-size: 1.2rem;
}

/* Componentes */
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  font-size: 1rem;

  padding: 10px;
  gap: 10px;

  text-decoration: none;

  background-color: #27742d;
  color: #f9f5f5;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.button.cart {
  font-size: 2rem;

  width: 62px;
  height: 62px;

  background-color: #f9f5f5;
  color: #27742d;
}

.button.check {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;

  height: 100%;

  background-color: #FEC208;
  color: black;
}

.button.check > span.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.button.button.check > span.confirm {
  font-size: .9rem;
  font-style: italic;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #DA291C #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #DA291C;
  border-radius: 10px;
  border: 6px solid #ffffff;
}

/* Sweet Alert Styles */
.terminal-swal-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  align-items: center !important;
  position: absolute !important;
}

.terminal-swal-popup {
  border-radius: 10px !important;
}

.animate__fast {
  animation-duration: 0.2s !important;
  animation-timing-function: ease-in-out !important;
}

.disable {
  cursor: not-allowed !important;
  filter: grayscale(40%);
}